@model IEnumerable<Wasla.Models.CoinHistory>

@{
    ViewData["Title"] = "Coin Histories";
}

<h1>Coin Histories</h1>

<table class="table">
    <thead>
        <tr>
            <th>User</th>
            <th>Time</th>
            <th>Process Type</th>
            <th>Amount</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.User?.FullName</td>
                <td>@item.Time.ToString("g")</td>
                <td>@item.ProcessType?.ProcessName</td>
                <td>@item.Amount</td>
                <td>
                    <a asp-action="Details" asp-route-UserId="@item.UserId" asp-route-Time="@item.Time">Details</a> |
                    <a asp-action="Delete" asp-route-UserId="@item.UserId" asp-route-Time="@item.Time">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
