@model IEnumerable<Wasla.Models.Education>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UniversityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DegreeType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UniversityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DegreeType.DegreeName)
            </td>
            <td>
                <a asp-action="Details"
                    asp-route-employeeId="@item.EmployeeId"
                    asp-route-startDate="@item.StartDate.ToString("o")">Details</a> |
                <a asp-action="Edit"
                    asp-route-employeeId="@item.EmployeeId"
                    asp-route-startDate="@item.StartDate.ToString("o")">Edit</a> |
                <a asp-action="Delete"
                    asp-route-employeeId="@item.EmployeeId"
                    asp-route-startDate="@item.StartDate.ToString("o")">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
